<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>IPH</title>
</head>

<body>

    <div class="container">

        <div class="item-5">
          <img src="{{ url_for('static', filename='img/logo/logo1.jpg') }}" alt="Foto" class="logo-header">
          <nav>
            <ul>
              <li><a href="#">A igreja</a></li>
              <li><a href="#">Departamentos</a></li>
              <li><a href="#">Contato</a></li>
              <li><a href="{{ url_for('login') }}">Admin</a></li>
            </ul>
          </nav>
        </div>

        <div class="item-6">
          <img src="{{ url_for('static', filename='img/banner/banner (1).png') }}" alt="Banner">
        </div>


        <div class="item-7">
          <div class="niver-semana">

            <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/pastores/pr.thiago2.PNG') }}" alt="aniversariantes">
              <span>Nome do Aniversariante 1</span>
            </div>

            <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/pastores/pr.stuart2.PNG') }}" alt="aniversariantes">
              <span>Nome do Aniversariante 2</span>
            </div>
            <!-- Adicione mais aniversariantes aqui -->
          </div>
        </div>


        <div class="item-8" id="youtube-live">
          <iframe width="526 " height="252" src="https://www.youtube.com/embed/lz8Q1wcqcCA?si=PATBI3h_QSVksIkE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>


        <div class="item-9">

          <div class="pastor">
            <img src="{{ url_for('static', filename='img/pastores/pr.stuart2.PNG') }}" alt="Pr. Stuart Crêspo">
            <div class="profile-text">
              <p>Pr. Stuart Crêspo<br>Pastor Titular<br>Bacharel em Teologia pelo Seminário Biblico do Norte</p>
            </div>
          </div>

          <div class="pastor">
            <img src="{{ url_for('static', filename='img/pastores/pr.thiago2.PNG') }}" alt="Pr. Thiago Gadelha">
            <div class="profile-text">
              <p>Pr. Thiago Gadelha<br>Pastor Substituto<br>Bacharel em Teologia pelo Seminário Biblico do Norte</p>
            </div>
          </div>

        </div>

        <div class="item-10">
          Noticias Relevantes
        </div>

        <div class="item-11">
          <nav>
            <ul>
              <li><a href="#">Departamentos</a></li>
              <li><a href="#">Congregações</a></li>
              <li><a href="#">Conselho</a></li>
              <li><a href="#">Junta Diaconal</a></li>
              <li><a href="#">Layout da Igreja</a></li>
              <li><a href="#">Dízimos e Doações</a></li>
              <li><a href="#">Liturgia da Semana</a></li>
            </ul>
          </nav>
        </div>


        <div class="item-12"  id="pastoral-content">
          <img src="{{ url_for('static', filename='img/pr.stuart3.PNG') }}" alt="Foto" class="profile-photo">
          <p><h2>LÂMPADA PARA OS NOSSOS PÉS É A TUA PALAVRA</h2></p>
          <p><h3>Lâmpada para os meus pés é a tua palavra e, luz para os meus caminhos. Salmos 119:105 (ARA)</h3></p>
          <p>Se existe um dia que é esperado por todo aquele que passa por lutas, esse é o dia da vitória. Por vezes as lutas são tão grandes, e os inimigos aparentam ser tão maiores do que nós, que somos tentados a desistir. Não fosse o Senhor conosco, certamente o dia mau nos destruiria. Mas um fortalecimento do céu é dado a nós, por isso perseveramos na esperança de que Deus nos dará vitória, e para Neemias e o povo, este dia chegou.</p>
          <p>“Acabou-se, pois, o muro aos vinte e cinco dias do mês de Elul, em cinquenta e dois dias. Sucedeu que, ouvindo-o todos os nossos inimigos, temeram todos os gentios nossos circunvizinhos e decaíram muito no seu próprio conceito; porque reconheceram que por intervenção de nosso Deus é que fizemos esta obra.” (Neemias 6.15-16)</p>
          <p>As muralhas que estavam em ruínas no primeiro capítulo, e que aos olhos de todos era impossível de ser reconstruída, agora, depois de cinquenta e dois dias, está novamente de pé. O milagre aconteceu! As orações feitas foram respondidas! A esperança se renova, os corações se quebrantam, os inimigos de Deus temem, pois o Senhor agiu e deu bom êxito aos seus servos.</p>
          <p>Olhamos para esse capítulo e aprendemos lições preciosas para nossas vidas sobre quando a vitória chega: em primeiro lugar, quando a vitória chega, a obra de Deus prospera. Era improvável que uma obra como essa se completasse, e impossível que fosse em tão pouco tempo. Havia necessidade de recursos que o povo não tinha, de autorizações que Neemias não tinha e de encorajamento. Existiam inimigos dedicados a desencorajar o povo e colocar medo na liderança.</p>
          <p>No entanto, a cidade do povo de Deus, aquela que havia sido escolhida para receber o templo e ser capital da nação de Judá, precisava ser reconstruída e, para isso, seus muros deveriam estar de pé. As muralhas, naqueles dias, significavam não apenas proteção física, mas ação do Deus a Quem o povo servia. A compreensão do povo era: ‘se na cidade há um templo, Deus mora nela; se há muros, Deus a protege. Não se tratava de uma obra importante para a sociedade, mas da manifestação da proteção de Deus sobre o povo. A obra era de Deus, e prosperou.</p>
          <p>Em segundo lugar, quando a vitória chega, o inimigo é envergonhado. Diz o texto que os inimigos temeram e decaíram muito no seu próprio conceito. Todo o trabalho feito para desanimar o povo se frustrou. A ameaça de ataque foi enfrentada com coragem e disposição, pois o povo de Deus se dedicou ao trabalho, mas manteve suas armas prontas para a guerra. Foi traçado um plano de defesa, e diante desse cenário os inimigos recuaram. Também o suborno dado para que Neemias fosse influenciado a se esconder se frustrou.</p>
          <p>A resposta foi uma liderança temente a Deus e consciente da importância de dar exemplo de valentia. Mais uma vez, a estratégia dos inimigos se frustrou. O inimigo de nossas almas se levanta contra nós e contra a obra de Deus diariamente. No entanto, não estamos sozinhos. O Senhor é conosco e nos dá vitória. Ele mesmo, nas regiões celestiais, despojou principados e potestades e os envergonhou. Também não estamos desarmados. Deus nos dá uma armadura espiritual, poderosa para destruir fortalezas. Sigamos adiante com coragem!</p>
          <p>Em terceiro e último lugar, quando a vitória chega, o nome de Deus é glorificado. O texto nos diz que, diante de tudo o que aconteceu, os inimigos reconheceram que a obra feita foi pela intervenção de Deus. Tempos desafiadores de alguma maneira se tornam o grande palco para a ação de Deus na História. Nossa fraqueza, falta de recursos e a falta de força são elementos que Deus decidiu usar para, por meio deles, manifestar Seu poder.</p>
          <p>A obra avançou. Foi Deus quem a levou adiante. Que o nome do Senhor seja exaltado diante de todos os povos!</p>
          <p>Pr. Israel Abreu – Pastor Auxiliar https://oitavaigreja.com.br/quando-a-vitoria-chega/</p>
        </div>


      <div class="item-13">
        <footer>
          <p>Igreja Presbiteriana de Heliópolis, Av. Rui Barbosa, 771, Heliópolis, Garanhuns/PE<br>
          Todos os direitos reservados.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/ip.heliopolis/"><img src="{{ url_for('static', filename='img/social/Facebook-256.png') }}" alt="Facebook"></a>
            <a href="https://www.instagram.com/stories/ipheliopolis/3399234192699674655/"><img src="{{ url_for('static', filename='img/social/Instagram-256.png') }}" alt="Instagram"></a>
            <a href="https://www.youtube.com/@ipheliopolis"><img src="{{ url_for('static', filename='img/social/Youtube-256.png') }}" alt="Youtube"></a>
          </div>
        </footer>
      </div>

    </div>

</body>
</html>

